.container {
  background-color: #333; /* No color inside */
  color: white; /* White text */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.nav-tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  background-color: #333; /* Gray background for tabs */
  color: white; /* White text */
}

.nav-link.active {
  background-color: #444; /* Blue background for active tab */
  color: white;
}

.nav-link:hover {
  background-color: #555; /* Darker gray on hover */
}

input, select, button {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #666; /* Light gray border */
  border-radius: 3px;
}

button {
  background-color: #444; /* Blue button */
  color: white; /* White button text */
  border: none;
}

button:hover {
  background-color: #555; /* Darker blue on hover */
}
